<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	      package="br.com.ricardolonga.mercadinho"
	      android:versionCode="1"
	      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="20" />

    <instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="br.com.ricardolonga.mercadinho" />

    <application android:allowBackup="true"
		         android:icon="@drawable/ic_launcher"
		         android:label="@string/app_name" 
		         android:name="br.com.ricardolonga.mercadinho.shared.MercadinhoApplication_"
		         android:theme="@android:style/Theme.Holo.Light">

        <activity android:name="br.com.ricardolonga.mercadinho.telainicial.ListaDeComprasActivity_" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="br.com.ricardolonga.mercadinho.teladetalhes.DetalhesActivity_" android:label="@string/title_activity_detalhes" />

        <uses-library android:name="android.test.runner" />
    </application>

</manifest>